/*
* 	General ========================
*/
html { width: 100%; height: 100%;}
body { 
	background: #eee;
	width: 100%;
	height: 100%;
	}


#header {
	background: #ddd;
	padding: 10px 30px;
}
#header small {
	font-style: italic;
	font-size: 40%;
}

.btn-primary {
	background: #FFB358;
	border-color: #FF8B00;
	color: #000;
}

.btn-primary:hover {
	background: #FF9619;
	color: #000;
	border-color: #FF8B00;
}

.right-align {
	text-align: right;
}

h2 { 
	font-weight: bold;
	text-transform: uppercase;
}

h4 {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 85%;
}
h5 {
	font-weight: bold;
	font-size: 110%;
}

/*
* 	Index specific ========================
*/
#page-container {
	background: url('images/family.jpg');
	background-size: cover; 
	height: 100%;
}
#header.index { background: rgba(255,251,100,0.6); }
.intro-text {
	background: rgba(255,255,255,0.6);
	margin-top: 10%;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
}
.intro-text h3 {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

/*
* 	selectDish specific ========================
*/
#searchField {
	background: rgba(255,231,100,0.6);
	padding: 10px 20px 20px;
}

.allDishes {
	max-height: 350px;
	overflow-y: auto;
}

.table-header {
	background: #ddd;
}

td.border-top {
	border-top: 1px solid black !important;
}

.dish-container {
	margin: 30px 10px 10px;
	position: relative;
	width: 140px;
	display: inline-block;
	vertical-align: top;
}
.dish-name {
	background: #ddd;
	text-align: center;
	padding: 5px 0;
	margin-bottom: 5px;
}

/*
* 	dishInfo specific ========================
*/
#ingredients {
	background: rgba(255,231,100,0.6);
	padding: 10px 20px 20px;
}
#ingredients .table-header {
	background: none;
	border-top: none;
}
#ingredients .table-header td {
	border-top: none;
	border-bottom: 1px solid black;
}
#ingredients td { border: none;}


/*
*	dinnerOverview specific ==================
*/
#myDinner {
	background: rgba(255,231,100,0.6);
	padding: 10px 20px 20px;
}

.horizontalLine {
	border: 1px solid black;
	margin-top: 2px;
	margin-left: 5%;
	margin-right: 5%;
}

.dish-price {
	text-align: right;
	padding: 5px 0;
	margin-bottom: 5px;
}

.placing {
	padding: 2%;
}

.vertical {
	vertical-align: left;
	border-left: 2px solid black;
	height: 200px; 
	padding: 0 14px;

}
.leftAlign {
	text-align: left;
	padding: 5px 0;
	margin-top: 155px;
}
